.conatiner{
    background-color:black;
    height:40vh;
    width:30vw;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
body{
    background-image: url("https://cdn-images-1.medium.com/max/2000/1*J70Msptq4GiqzL9l7m39og.png");
    background-size: cover;
    display:flex;
    align-items: flex-start;
    justify-content: center;
}
input{
    width:15vw;
    height: 5vh;
}
h2{
    color:white;
    font-family: sans-serif;
}
